<ss-loading [show]="loading"></ss-loading>
<section class="wrapper">
  <div id="login-container" class="well clearfix container-fluid">
    <div class="row">
      <div class="col-md-12 col-12">

        <div class="main-container">
          <div id="login-logo" class="login-wrapper">
            <div  class="logo logo-section">
              <img src="{{'site_logo' | siteData }}" alt="" class="logo-img">
            </div>
            <form [formGroup]="loginForm" role="form" novalidate>
              <h1 class="box-heading">{{"login.loginTitle" | translate:{siteName: 'Gemini'} }}</h1> 
              <div class="form-message alert alert-danger" *ngIf="error">
                {{ "login.errors.invalidLogin" | translate }}<br /> 
              </div>

              <div class="form-group error" [ngClass]="{
                  'has-error':
                    (username.touched && username.invalid) ||
                    (errorFlag && username.invalid)
                }">
                <input type="text" class="form-control " formControlName="username"
                  placeholder="{{ 'login.placeholder.username' | translate }}" />
                <div [ss-form-errors]="formErrors" ss-form-error-name="username" [ss-form-element]="username" ></div>
              </div>

              <div class="form-group" [ngClass]="{
                  'has-error':
                    (password.touched && password.invalid) ||
                    (errorFlag && password.invalid)
                }">
                <div class="position-relative">
                  <input type="{{ showPassword }}" class="form-control" formControlName="password"
                    placeholder="{{ 'login.password' | translate }}" />
                  <div [ss-form-errors]="formErrors" ss-form-error-name="password" [ss-form-element]="password"></div>
                </div>
              </div>

              <div class="form-actions">
                <button type="submit" [disabled]="!loginForm.valid" [ngClass]="{'button-disabled':!loginForm.valid}" (click)="login(loginForm.value)"
                  class="btn btn-primary">
                  {{"login.login" | translate }}
                </button>
              </div>

              <p class="for-pass d-block f-black border-0 bg-transparent m-auto" >
                {{ "login.forgotPassword" | translate }} <a routerLink="/auth/forgot-password" class="reset">{{ "login.resetIt" | translate }}</a>
              </p>
            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</section>
