<div class="round-slider-container" [ngStyle]="{'width':width+'px', 'height':height+'px'}">
    <span class="round-slider-text">{{secondsToTime(max-value)}}</span>
    <!-- <div [ngStyle]="{'background-image': 'url('+ imageUrl +')', 'width': imageSize + 'px', 'height': imageSize + 'px', 'top': imagePosition + 'px', 'left': imagePosition + 'px'}"
        class="round-slider-image"></div> -->
    <div class="round-back-circleference"
        [ngStyle]="{'width': backgroundSize + 'px', 'height': backgroundSize + 'px', 'top': backgroundPositionTop + 'px', 'left': backgroundPositionLeft + 'px'}">
    </div>
</div> 