.container.inner-container {
    max-width: 635px;
  }
  
  .main-area{
   padding-top: 40px;
    margin-bottom: 20px;
    @media (max-width:991px) {
      margin-bottom: 10px;
    }
  }

.health-checkin {
    color: white;
    background: #263e72;

    .checkin-options {
        border-radius: 50%;
        background-color: white;
        width: 96px;
        height: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        @media (max-width:991px) {
            width: 65px;
            height: 65px;
          }
    }

    img {
        height: auto;
        width: 40px;
       
    }
    .pulse{
        height: auto;
            width: 50px; 
    }
    h1{
        font-size: 18px;
    }
    p {
        font-size: 14px;
        font-weight: 500;
    }
}

.img-flex {
    gap: 79px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    padding-top: 40px;
}


.img-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    gap: 10px;
    text-align: center;
}
