<section class="wrapper health-checkin">
  <div class="container inner-container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="main-area">
          <div>
            <h1 class="text-center checkin-title">
              Please select one of the below to complete your health check-in
            </h1>
            <div>
              <div class="row">
                <div class="img-flex">
                  <div
                    class="cpl-4 img-circle"
                    routerLink="/checkin/health-activity/mental/general"
                  >
                    <div class="checkin-options">
                      <img
                        src="assets/images/icons/mood/mood-multicolor.png"
                      />
                    </div>
                    <P>Mental Health</P>
                  </div>
                  <div
                    class="cpl-4 img-circle"
                    routerLink="/checkin/health-activity/physical/general"
                  >
                    <div class="checkin-options">
                      <img
                        src="assets/images/icons/physical/physical_452710@2x.png"
                      />
                    </div>
                    <P>Physical Health</P>
                  </div>
                  <div
                    class=" cpl-4 img-circle"
                    routerLink="/checkin/health-activity/medications/general"
                  >
                    <div class="checkin-options">
                      <img
                        src="assets/images/icons/medication/medication_2937361@2x.png"
                      />
                    </div>
                    <P>Medications/ Supplements</P>
                  </div>
                  <div
                    class="cpl-4 img-circle"
                    routerLink="/checkin/health-activity/bloodpressure/general"
                  >
                    <div class="checkin-options">
                      <img
                        src="assets/images/icons/bloodpressure/bloodpressure_3063097@2x.png"
                      />
                    </div>
                    <P>Blood Pressure</P>
                  </div>
                  <div
                    class="cpl-4 img-circle"
                    routerLink="/checkin/health-activity/pulse/general"
                  >
                    <div class="checkin-options">
                      <img
                        src="assets/images/icons/pulse/pulse_2996766@2x.png" class="pulse"
                      />
                    </div>
                    <P>Pulse</P>
                  </div>
                  <div
                    class="cpl-4 img-circle"
                    routerLink="/checkin/health-activity/weight/general"
                  >
                    <div class="checkin-options">
                      <img
                        src="assets/images/icons/weight/weight_372597@3x.png"
                      />
                    </div>
                    <P>Weight</P>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
