.container.inner-container {
  max-width: 991px;
}
.main-area-1 ul.nav.nav-tabs {
  display: flex;
  width: 65%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row !important;
  align-items: flex-start;
  border: 1px solid green !important;
  border-radius: 26px;
  overflow: hidden;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.main-area-1 {
  display: block;
  @media (max-width: 991px) {
    padding: 16px 0;
  }
}

.main-area-1 ul.nav.nav-tabs li.nav-item {
  width: 50%;
}

.main-area-1 ul.nav.nav-tabs li.nav-item a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 !important;
  border-radius: 0px;
  padding: 6px;
}

a.nav-link {
  color: #357b40 !important;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 10px;
}

a.nav-link.active {
  background: #357b40 !important;
  color: #fff !important;
}

.tab-content > .active {
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.tab-content > .active h1,
.tab-content > .active p {
  text-align: center;
  margin: 0;
}

.tab-content > .active h1 {
  font-size: 28px;
  font-weight: 700;
  color: #263e72;
}

.tab-content > .active p {
  font-size: 14px;
  font-weight: 500;
}

.tab-content > .active p span {
  font-weight: 700;
}

.cum-heading {
  font-weight: 700;
  color: #263e72;
  margin-bottom: 0;
  text-transform: uppercase;
}
.to-do {
  font-weight: 700;
  color: #263e72;
  margin-bottom: 0px;
}

.to-do-card {
  padding-top: 20px;
  padding-bottom: 20px;
}



.card-box-1 {
  box-shadow: #00000029 0 1px 4px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 60px;
  cursor: pointer;
}

.class-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complete {
  color: #263e72;
  margin-bottom: 0px;
}

.pro-icon {
  width: 25px;
  height: 25px;

  &:first-child {
    opacity: 0;
    visibility: hidden;
  }
}

.text-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

// progress
.progress {
  margin: 10px 0px 0px 0px;
  padding: 0;
  width: 100%;
  height: 20px;
  overflow: hidden;
  background: #bdddc2;
  border-radius: 10px;
}

.bar {
  position: relative;
  float: left;
  min-width: 1%;
  height: 100%;
  background: #357b40;
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: tahoma, arial, helvetica;
  font-size: 12px;
  color: white;
}

.progress-count {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.progress-icon {
  display: flex;
  justify-content: space-between;
}

.circle-img {
  background-color: #fff;
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #357b40;

  @media (max-width: 991px) {
    width: 65px;
    height: 65px;
  }
}

.circle-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.che-icon {
  width: 9px;
  height: 15px;
}

.img-flex {
  gap: 79px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.flower-title {
  color: #357b40;
  padding-top: 8px;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.progress-circle-body {
    background: #FFFFFF;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #EBEBEB;
}