
<section class="wrapper">
  <div id="login-container" class="well clearfix container-fluid">
    <div class="row">
      <div class="col-md-12 col-12">
        <div class="main-container">
          <div id="login-logo" class="login-wrapper">
            <div id="login-container" class="well clearfix">
              <div  class="logo logo-section">
                <img src="{{'site_logo' | siteData }}"  alt="" class="logo-img">
              </div>
            
              <div id="login-logo" class="login-wrapper">
                <div id="login-form">
                
                  <form role="form" [formGroup]="resetPasswordForm" (ngSubmit)="save()">
                    <div
                    class="text-center d-flex flex-column align-items-center justify-content-around"
                  >
                  <h1 class="box-heading" *ngIf="type_password == 'create-password'">  {{ 'resetPassword.createPassword' | translate }}</h1>
                  <h1 class="box-heading" *ngIf="type_password != 'create-password'">  {{ 'resetPassword.resetPassword' | translate }}</h1>
                  </div>
                    <div class="form-group mt-3">
                      <div  [ngClass]="{ 'has-error': ( (password.touched && password.invalid) ) || (errorFlag && password.invalid) }">

                        <i (click)="showPassword('password')" class="gm" [ngClass]="{'gm-show-password':passType.password=='password','gm-hide-password':passType.password=='text'}"></i>

                        <div class="float-wrap password">
                          <input class="form-control"  type="{{passType.password}}" placeholder=" {{ 'resetPassword.password' | translate }}" formControlName="password" name="password"  (keyup)="checkPassword($event)" required />
                          <span for="password">Password (8+ characters)</span>
                          <div [ss-form-errors]="formErrors" ss-form-error-name="Password" [ss-form-element]="password"></div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-3">
                      <div   [ngClass]="{ 'has-error': ( (confirm_password.touched && confirm_password.invalid) ) || (errorFlag && confirm_password.invalid) }">
                         <i (click)="showPassword('confirmPassword')" class="gm" [ngClass]="{'gm-show-password':passType.confirmPassword=='password','gm-hide-password':passType.confirmPassword=='text'}"></i>

                        <div class="float-wrap password">
                          <input class="form-control"  type="{{passType.confirmPassword}}" placeholder=" {{ 'resetPassword.confirmPassword' | translate }}" formControlName="confirm_password" name="Confirm Password"  required />
                          <span for="password">Confirm Password</span>
                        </div>
                        <div [ss-form-errors]="formErrors" ss-form-error-name="Confirm Password" [ss-form-element]="confirm_password"></div>
                      </div>

                      <p class="errors" *ngIf="resetPasswordForm.hasError('match_password') && resetPasswordForm.controls['confirm_password'].valid">{{ 'resetPassword.confirmPasswordNotMatch' | translate }}</p>
                      </div>

                      <div class="form-group">
                       <div class="text-start">
                        <h6 class="rule-title">Your password should be</h6>
                       </div>
                        <ul class="reset-rule mb-0">
                          <li>
                            <span class="gm" [ngClass]="{'gm-check':is_password_valid.is_length,'dot':!is_password_valid.is_length}"></span>
                            {{ 'resetPassword.passwordValidation.character' | translate }}
                          </li>
                          <li>
                            <span class="gm" [ngClass]="{'gm-check':is_password_valid.is_space,'dot':!is_password_valid.is_space}" ></span>
                            {{ 'resetPassword.passwordValidation.space' | translate }}
                          </li>
                          <li>
                            <span class="gm" [ngClass]="{'gm-check':is_password_valid.is_capital,'dot':!is_password_valid.is_capital}">  
                            </span>
                            {{ 'resetPassword.passwordValidation.uppercase' | translate }}
                          </li>
                          <li>
                            <span class="gm" [ngClass]="{'gm-check':is_password_valid.is_small,'dot':!is_password_valid.is_small}"></span>
                            {{ 'resetPassword.passwordValidation.lowercase' | translate }}</li>
                          <li>
                            <span class="gm" [ngClass]="{'gm-check':is_password_valid.is_symbol,'dot':!is_password_valid.is_symbol}"></span>
                            {{ 'resetPassword.passwordValidation.symbol' | translate }}
                          </li>
                          <li><span class="gm" [ngClass]="{'gm-check':is_password_valid.is_number,'dot':!is_password_valid.is_number}"></span>
                            {{ 'resetPassword.passwordValidation.number' | translate }}
                          </li>
                        </ul>
                      </div>

                      <div class="form-actions">
                        <button class="bg-dark-blue btn btn-primary" expand="block" type="submit" 
                        [disabled]="!resetPasswordForm.valid">
                        {{ 'resetPassword.setNewPassword' | translate }}
                        </button>
                      </div>
                      <span>{{ 'resetPassword.alreadyAccount' | translate }}  <a href="#"  class="reset" routerLink="/auth/login">{{ 'resetPassword.signIn' | translate }}</a></span>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
