
<section class="wrapper">
    <div class="container inner-container">
        <div class="row">
            <div class="col-12">
                <div class="main-area">
                    <div class="scroll-view-form">
                    <div class="term-condition">
                        <h4 class="details">
                            Information in the website is provided for informational purposes only and is not intended as a
                            substitute for the advice provided by your healthcare providers. This platform is not intended
                            to be used for diagnosing or treating a health problem or disease.<br><br>
                            We take your health and well-being seriously. If you have a medical emergency, please call 911
                            or reach out to your medical provider. The information on this site is for educational purposes
                            and does not substitute for professional medical advice. The study staff does not regularly
                            check this online platform; therefore, it is not the appropriate place to seek advice for your
                            medical or mental health well-being.<br><br>
                            If you have concerns or thoughts about harming yourself or of suicide, know there is help and
                            you're not alone. Please contact this hotline for support <a class="url-highlight" href="https://988lifeline.org">https://988lifeline.org</a> or call/text
                            "988.
                        </h4>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>